.gradient {
	height: 500px;
	width: 100%;
	background: linear-gradient(rgba(24, 24, 27, 1), transparent);
	background-color: rgb(40, 42, 54);
	color: rgb(190, 175, 60);
	text-align: center;
	font-family: "Playwrite HR";
	font-style: italic;

} 

