.navbar{
	background: rgb(24, 24, 27);
	height: 6rem;
	width: 100vw;
	margin: 0 auto;
	padding: 1rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #F8F8F2;
	position: sticky;
	top: 0;
	z-index: 3;
}

.logo {
	object-fit: cover;
	height: 6rem;
}

.desktopMenu {
	align-items: center;
	justify-content:center;
	display:flex;
	flex-wrap: wrap;
}

.desktopMenuListItem{
	margin-left: 1rem;
	cursor: pointer;
}


.desktopButtonContainer{
	display: flex;
	align-items:center;
}

.desktopMenuButton {
	border: none;
}

.linkedInDesktopButton {
	object-fit: cover;
	height: 2rem;
	width: 2rem;
	margin: 0.5rem;
	cursor: pointer;
}

.githubDesktopButton {
	object-fit: cover;
	height: 2rem;
	width: 2rem;
	margin: 0.5rem;
	cursor: pointer;
}

.emailDesktopButton {
	object-fit: cover;
	height: 2rem;
	width: 2rem;
	margin: 0.5rem;
	cursor: pointer;
}
