*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	background: transparent;
	font-family: "Fira Sans"
}

body {
	background: rgb(40, 42, 54);
	color: black;
	overflow: hidden;
	overflow-y: scroll;
}
